<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact me</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://google.com/+EinVerne"><i class="fa fa-google-plus" aria-hidden="true"></i> +Ein Verne</a>
                  </li>
                  <li>
                    <a href="https://github.com/einverne/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                    <a href="https://www.douban.com/people/einverne/"><span style="font-size: 1em">豆</span> 豆瓣 </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/c/einverne"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube </a>
                  </li>
                  <li>
                    <a href="https://www.inoreader.com/u/einverne"><i class="fa fa-rss" aria-hidden="true"></i> Inoreader</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/ghost.jpg" | prepend: site.baseurl }}" />
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
