<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/assets/img/lol.gif" | prepend: site.baseurl }}" width="80"/> {{ site.brand }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="https://einverne.github.io/">BLOG</a></li>
        <li><a href="https://google.com/+EinVerne">Google+</a></li>
		<li class="active"><a href="{{ "/" | prepend: site.baseurl }}">PODCAST</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
